#contact input[type=text],input[type=email], textarea{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 2px;
    border-radius: 15px;
    border: 2px solid purple;
    accent-color: purple;
}
#contact input[type=checkbox]{
    accent-color: purple;
    margin-top: 10px;
}
#btn-submit{
    border: none;
    margin-top: 10px;
}
.standart-form input{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 5px 2px;
    border-radius: 15px;
    border: 2px solid purple;
    accent-color: purple;
}
.edit-form{
    border: 5px solid yellow;
    padding: 30px 20px;
    border-radius: 35px;
}
.edit-form input{
    margin: 10px 0px;
    max-width: 180px;
}
.edit-form select{
    width: 100%;
    max-width: 180px;
    padding: 10px;
    margin: 5px 2px;
    border-radius: 15px;
    border: 2px solid purple;
    accent-color: purple;
}
.standart-form input[type=checkbox]{
    padding: 0;
    margin: 0;
    width: auto;
}
.standart-form button{
    border: none;
    border-radius: 15px;
    margin-top: 5px;
}
.edit-form button{
    margin: 20px 0px;
}
@media screen and (max-width:600px){
    #formular{
        text-align: left;
    }
}